/* Home */
#home {
  background-color: #0c2a40;
  height: calc(100vh + 53px);
  width: 100vw;
  top: 0;
  position: relative;
  justify-content: center;
}

.home__title {
  color: white;
  font-size: 24pt;
  margin-bottom: 20px;
}

.home__button {
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 13pt;
  padding: 10px 20px;
  color: white;
  margin-bottom: 53px;
  /* box-sizing: inherit; */
  /* display: inline-block; */
  /* transition: all 0.5s; */
}

.home__button i {
  padding: 5px;
}
