:root {
  /* Color */
  --white-color: white;
  --black-color: black;
  --blue-color: blue;
  --red-color: red;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;

  /* Size */
  --side-padding: 12px;
  --bet-padding: 50px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
/* Initialization */
body {
  margin: 0;
  font-family: "Raleway";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}
/* button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  opacity: 0.5;
} */

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding_between {
  padding-top: 50px;
}
