/* Navbar */
#navbar {
  width: 100%;
  height: 50px;
  bottom: 0px;
  /* position: absolute; */
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 13px 0px; */
  background-color: #0a2336;
  border-bottom: 3px solid #04c2c9;
  z-index: 1;
}

.notFixed {
  position: absolute;
}
.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}

.navbar__menu {
  padding-left: 50px;
  position: sticky;
}

.navbar__menu ul {
  display: flex;
  color: white;
  font-size: 20px;
}

.navbar__menu li {
  padding-right: 50px;
}

.navbar__menu li:hover {
  color: #e31b6d;
  cursor: pointer;
}

.active {
  color: #e31b6d;
  cursor: pointer;
}
