/* Initialization */
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  opacity: 0.5;
}

/* Home */
#home {
  /* background-image: url("imgs/background_img_13.png"); */
  background-color: #0c2a40;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100vw;
  top: 0;
  position: absolute;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway";
}

.home__box {
  align-items: center;
  display: flex;
  justify-content: column;
  flex-direction: column;
}

.home__title {
  color: white;
  font-size: 24pt;
}

.home__button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
  color: white;
}

.home__button i {
  padding: 5px;
}

/* Navbar */
#navbar {
  /* position: absolute;
  display: flex;
  justify-content: space-between;
  
  background-color: black; */
  /* left: 0; */
  /* background: #1b242f; */
  /* border-bottom: 3px solid #04c2c9; */
  /* height: 50px; */
  /* text-align: left; */
  /* z-index: 99; */
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 18px;
}

.navbar__logo {
  color: white;
  font-size: 24px;
}

.navbar__logo a {
  color: white;
}

.navbar__menu2 {
  display: flex;
  color: white;
  font-size: 20px;
}

.navbar__menu2 li {
  padding-right: 20px;
}
