/* Initialization */
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  opacity: 0.5;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 18px;
  background-color: black;
}

.navbar__logo {
  color: white;
  font-size: 24px;
}

.navbar__logo a {
  color: white;
}

.navbar__menu2 {
  display: flex;
  color: white;
  font-size: 20px;
}

.navbar__menu2 li {
  padding-right: 20px;
}

/* Home */
#home {
  background-image: url("imgs/space-background_img.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home__avatar {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.home__title {
  color: white;
  text-align: center;
}

.home__description {
  color: white;
}
