/* ABOUT */
#about {
  background-color: #ebebeb;
  width: 100%;
}

.about__h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: var(--bet-padding);
}

.about__h2 {
  text-align: center;
}

.about__h3 {
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: var(--bet-padding);
  padding-bottom: var(--bet-padding);
}

.about__menu {
  float: right;
  padding-right: 50px;
}

.about__menu__warp {
  font-size: 20px;
}

.about__menu li {
  padding: 10px 0;
}

.about__detail {
  width: 50vw;
  background-color: #ffffff;
  height: 225px;
  border-radius: 0.5em;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li:hover {
  color: #e31b6d;
  cursor: pointer;
}

.active {
  color: #e31b6d;
  cursor: pointer;
}
