@import "common";

/* ABOUT */
#about {
  @extend %flex-column-center;
  background-color: #ebebeb;
  width: 100%;
}

.about__h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: var(--bet-padding);
}

.about__h2 {
  text-align: center;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: var(--bet-padding);
  padding-bottom: var(--bet-padding);

  & .about__menu-text {
    float: right;
    padding-right: 50px;
    font-size: 20px;

    & li {
      padding: 10px 0;
    }

    & li:hover {
      color: #e31b6d;
      cursor: pointer;
    }
  }

  & .about__menu-select {
    display: none;
  }

  & .about__detail {
    width: 50vw;
    background-color: #ffffff;
    height: 225px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & p {
      margin: 20px;
      text-align: center;
    }
  }
}

//common??
.li_active {
  color: #e31b6d;
  cursor: pointer;
}

.ct_deactive {
  display: none;
}

@media screen and (max-width: 620px) {
  .about__container {
    flex-direction: column;
    // justify-content: space-between;

    & .about__menu-text {
      display: none;
    }

    & .about__detail {
      width: 80vw;
    }

    & .about__menu-select {
      display: inline-block;
      width: 80vw;
      padding: 0.8em 0.5em;
      border: 1px solid #999;
      font-family: inherit;
      background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95%
        50%; /* 네이티브 화살표 대체 */
      border-radius: 0px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-bottom: 10px;
    }
  }
}
