.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  &.active {
    display: block;
  }
}

/* Modal Content */
.modal__content {
  position: relative;
  // background-color: #fefefe;
  background-color: #ebebeb;
  margin: auto;
  padding: 0;
  border: 1px solid black;
  width: 80%;
  height: 98%;
  // max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

  & .deactive {
    display: none;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: var(--blue-dark-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--pink-light-color);
  text-decoration: none;
  cursor: pointer;
}

.modal__header {
  padding: 2px 16px;
  // background-color: var(--blue-dark-color);
  color: white;
}

.modal__body {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  & .modal__img-wrap {
    width: auto;
    height: auto;
    max-width: 100%;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    & .modal__img {
      width: auto;
      height: auto;
      max-width: 100%;
      margin-top: 20px;

      display: flex;
      align-items: center;
      // border: 1px solid black;
    }
  }

  & article {
    width: 40%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & ul {
      padding-top: 10px;
    }

    & li {
      padding-top: 5px;
    }

    & .modal__icons {
      display: flex;
      justify-content: flex-end;
    }

    & .modal__icons i {
      font-size: 34px;
      padding-bottom: 10px;
      color: var(--blue-dark-color);
    }

    & .modal__icons i:hover {
      cursor: pointer;
      color: var(--pink-light-color);
    }
  }
}

.modal__footer {
  padding: 2px 16px;
  // background-color: var(--blue-light-color);
  color: white;
}

@media screen and (max-width: 420px) {
  .modal__img-wrap {
    max-width: 100% !important;
  }
  .modal__body {
    & article {
      padding-top: 10px;
      width: 100% !important;
    }
  }
}
