.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  &.active {
    display: block;
  }
}

/* Modal Content */
.modal__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;

  & .deactive {
    display: none;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: var(--blue-dark-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--pink-light-color);
  text-decoration: none;
  cursor: pointer;
}

.modal__header {
  padding: 2px 16px;
  background-color: var(--blue-dark-color);
  color: white;
}

.modal__body {
  padding: 2px 16px;
  display: flex;

  & .modal__img-wrap {
    width: auto;
    height: auto;
    max-width: 60%;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    & .modal__img {
      width: auto;
      height: auto;
      max-width: 100%;

      display: flex;
      align-items: center;
    }
  }

  & article {
    width: 40%;
    margin-left: 10px;

    & ul {
      padding-top: 10px;
    }

    & li {
      padding-top: 5px;
    }
  }
}

.modal__footer {
  padding: 2px 16px;
  background-color: var(--blue-light-color);
  color: white;
}
