.project {
  width: 400px;
  height: 280px;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 2px;

  &.deactive {
    display: none;
  }
}

.project__img {
  width: 100%;
}
