@import "common";

#skills {
  @extend %flex-column-center;
}
.skills__h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: var(--bet-padding);
}

.hex_wrap3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  & .hex_wrap2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 10px;
  }
}

.skills__h2,
.skills__h3,
.skills__h4 {
  padding-top: 10px;
  font-weight: 200;
}

.skills__container {
  width: 80%;
  color: white;

  background-color: #7d7a7c;
  display: flex;
  margin-bottom: 50px;

  & .skills__progress {
    @extend %flex-column-center;
    flex-basis: 50%;
    background-color: #4e4d4f;
    padding: 20px;
  }

  & .skills__right-wrap {
    flex-basis: 50%;

    & .skills__detail {
      background-color: #626162;
      width: 100%;
      flex-basis: 50%;

      & ul {
        padding-top: 5px;
        text-align: center;
      }

      & li {
        padding-top: 5px;
      }

      & .skills__detail-wrap {
        @extend %flex-column-center;
        padding: 20px;
      }
    }
  }
}

.skills__tools {
  flex-basis: 50%;

  & ul {
    padding-top: 5px;
    text-align: center;
  }

  & li {
    padding-top: 10px;
  }

  & .skills__detail-wrap {
    @extend %flex-column-center;
    padding: 20px;
  }
}

.skills__one_set {
  width: 100%;
  padding-top: 20px;
}

.skills__description {
  display: flex;
  justify-content: space-between;
}

.skills__bar {
  width: 100%;
  height: 3px;
  background-color: gray;
}

.skills__value {
  height: 3px;
  background-color: orange;
}

@media screen and (max-width: 690px) {
  .hex_wrap3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .hex_wrap2 {
      width: 80vw;
    }
  }

  .skills__container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .hex_wrap3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .hex_wrap2 {
      width: 90vw;
      flex-direction: column;
    }
  }
}
