@import "common";

#work {
  @extend %flex-column-center;
  background-color: #ebebeb;
  padding-bottom: 50px;
}
.work__h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: var(--bet-padding);
}

.work__categories {
  padding-top: 30px;
}

.work__img-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
