@import "common";

#work {
  @extend %flex-column-center;
  background-color: #ebebeb;
  padding-bottom: 50px;
}
.work__h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: var(--bet-padding);
}

.work__categories {
  padding-top: 30px;
}

.work__projects {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  transition: all 0.3s ease;

  &.anime-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
  }
}

@media screen and (max-width: 660px) {
  .work__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
