@import "common";

#work {
  @extend %flex-column-center;
  background-color: #ebebeb;
  padding-bottom: 50px;
}
.work__h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: var(--bet-padding);
}

.work__categories {
  padding-top: 30px;
}

.work__img-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.category__btn {
  border: 1px solid #c5c4c5;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 100;
  padding: 8px 48px;
}
